.background {
  position: sticky;
  top: 0px;
  width: 100vw;
  padding: 1rem 5rem;
  background: var(--steam-color-1);
}

.container {
  width: 80vw;
  max-width: 1024px;
  margin: auto;

  /* flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  width: 270px;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navLink {
  list-style-type: none;
}

.link {
  color: var(--steam-color-5);
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  color: white;
}