.list__container {
  margin: auto;
  width: 50vw;
  max-width: 600px;
}

.list__header {
  margin-bottom: 2rem;
}

.list__heading {
  font-weight: 600;
  color: var(--steam-color-5);
}

.list__item {
  margin-bottom: 1rem;
  padding: 2rem;
  background-color: var(--steam-color-5);
  border-radius: 10px;
  font-weight: 500;
  color: var(--steam-color-1);
  list-style-type: none;
}

.list__item:hover {
  background-color: white;
}