.list__item__flex__container {
  display: flex;
  flex-direction: row;
}

.list__item__img {
  height: 70px;
  width: 130px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.list__item__text__container {
  padding: .5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list__item__name {
  color: var(--steam-color-1);
}

.list__item__comments {
  color: var(--steam-color-3);
  font-size: var(--font-small);
  opacity: 70%;
}